{% extends 'layout.html' %} {%block content %} {% with error =
get_flashed_messages(category_filter=['error']) %} {% if error %} {% for message
in error %}
<div class="alert alert-danger">{{message}}</div>
{% endfor %} {% endif %} {% endwith %}
<style>
  ::placeholder {
    font-weight: bold;
    color: rgb(157, 8, 8);
    opacity: 0.4;
  }
</style>
<form action="{{url_for('customers.login')}}" method="POST">
  <input
    type="text"
    name="username"
    placeholder="Username"
    class="form-control"
  />
  <input
    type="password"
    name="password"
    placeholder="Password"
    class="form-control"
  />
  <button type="submit" class="btn btn-primary">Login Here</button>
</form>
{%endblock%}
